<address class="park-address">
	<strong>Contact Information</strong>
	<br>{{trail.CONTACT}}
	<br>
	<span class="address-label">Address:</span>
	<a href="http://maps.google.com/maps?daddr={{Lat}},{{Long}}" title="Get Directions to {{trail.NAME}}">{{trail.ADDRESSS}}</a>
	<br>
	<span class="address-label">Phone:</span> {{trail.PHONE}}
	<br>
	<span class="address-label">Email:</span>
	<a href="mailto:{{trail.CONTACT_EMAIL}}" title="Email Baltimore County Ag. Center Office">{{trail.CONTACT_EMAIL}}</a>
</address>